<div class="container">
  <form action="#/browse" method="GET">
     <div id="search-tab">
       <div class="col-md-3 top-margin">
         <input type="text" id="city" name="city" class="input-form" placeholder="City">
       </div>
       <div class="col-md-3 top-margin">
         <input type="text" id="type" name="type" class="input-form" placeholder="Type">
       </div>
       <div class="col-md-3 hidden">
         <input type="text" id="cuisine" name="cuisine" class="input-form" placeholder="Cuisine">
       </div> 
       <div class="col-md-3 top-margin">
         <input type="text" class="input-form" id="place-name" name="place-name" placeholder="Name">
       </div> 
       <div>
          <button id="search-clubs" class="butt top-margin" type="submit"><span>Search</span></button>
       </div>         
     </div>    
            
 </form>
  <ul id="clubs-list" class="list-unstyled">
  </ul>
 </div>