<form>
     <div id="invalid-username-message" class="hidden red">
         This username is already taken!
     </div>
   <div class="form-group">
     <input type="text" class="input-form" id="username-register" placeholder="username">
   </div>
   <div class="form-group">
     <div id="invalid-empty-password" class="hidden red">
         Password cannot be empty
     </div>
     <input type="password" class="input-form" id="password-register-1" placeholder="password">
   </div>
     <div id="invalid-password-message" class="hidden red">
         Please repeat password again!
     </div>
   <div class="form-group">
     <input type="password" class="input-form" id="password-register-2" placeholder="repeat password">
   </div>
   <button id="submit-register" class="butt"><span>Register</span></button>
 </form>